<html>
    <head>
       
    </head>
    <body>
        <form action='routes.php' method='POST'>
            <label for='email'>E-mail</label>
            <input type='text' name ='email'><br>
            <label for='password'>Password</label>
            <input type='password' name='password'><br>
            <label for='repeatPassword'>Repeat Password</label>
            <input type='password' name='repeatPassword'><br>
            <input type='hidden' name='isAdmin' value='1'>
            <input type='Submit' name='registerUser'>
        </form>
    </body>
</html>